#### Print the square root of a number given by a user

In [6]:
import math


def square_root(number):
    number = int(input("Enter a number of your choice: "))
    return math.sqrt(number)
result = square_root(number)

print(f"The square root of the {number} is {result}")

Enter a number of your choice: 125
The square root of the 81 is 11.180339887498949

#### Check the input number whether it is a prime or not

In [23]:


number = int(input("Enter a number: "))

def prime_numbers(number):
    counter = 0
    if number == 0 or number ==1:
            return False
    else:
        for i in range(1, number+1):
            result = number % i 
            if result == 0:
                counter = counter + 1
        if counter == 2:
            return True
        else:
            return False
            
result = prime_numbers(number)

Enter a number: 5

In [24]:
result

True

#### Print the prime numbers from 2 to 50

In [26]:
for number in range(2, 51):
    is_prime = True
    
    for i in range(2, number):
        if number % i == 0:
            is_prime = False
            break
    if is_prime:
        print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

####  Write a program for sum of digits.the digits are 76543 and the output should be  25.

In [35]:
number = 76543
sum_of_num = 0
while number > 0:
    sum_of_num += number%10
    number = number//10
print(f"The sum of the digits is {sum_of_num}")

The sum of the digits is 25

['pwskills']

In [33]:
print(5)

5

#### Armstrong Number

Armstrong number is a number that is equal to the sum of cubes of its digits

In [39]:
#printing Armstrong number

In [64]:
numbers = input("Enter a number of your choice: ")

# convert number in a list with their squares
result = sum([int(i)**3 for i in numbers])

name = "Armstrong number" if result == int(numbers) else "Not a Armstrong number"
print(name)

Enter a number of your choice: 370
Armstrong number

In [ ]:
numbers_list

In [36]:
summation = [i for i in range(9)]

In [37]:
summation

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [38]:
sum(summation)

36

In [65]:
my_string = 'pwskills'
my_list = [i for i in my_string]

In [66]:
my_list

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [67]:
empty = []
for i in my_string:
    empty.append(i)

empty

### Python practice Questions

#### Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [4]:
L = [4, 5, 6, 8, 3]
l = L[0-len(L):-1]

In [5]:
;

''

In [6]:
l

[4, 5, 6, 8]

In [7]:
L[-5:-1]

[4, 5, 6, 8]

In [8]:
L[::-1]

[3, 8, 6, 5, 4]

In [9]:
my_list = [1, 2, 3, 4, 5]

# Extract the last element
last_element = my_list[-1]
print(last_element)  # Output: 5

# Extract a sublist from the end of the list
sublist = my_list[-3:-1]
print(sublist)  # Output: [3, 4]

# Extract a sublist from the end with a step size of 2
sublist_with_step = my_list[-1:-5:-2]
print(sublist_with_step)  # Output: [5, 3]

# Extract the entire list in reverse order
reverse_list = my_list[::-1]
print(reverse_list)  # Output: [5, 4, 3, 2, 1]

5
[3, 4]
[5, 3]
[5, 4, 3, 2, 1]

### Another example created by myself

In [12]:
my_list = ['apple', 'banana', 'mango', 'cherry', 'papaya']
my_list[::]

['apple', 'banana', 'mango', 'cherry', 'papaya']

In [13]:
my_list

['apple', 'banana', 'mango', 'cherry', 'papaya']

In [14]:
my_list[::-1]

['papaya', 'cherry', 'mango', 'banana', 'apple']

In [15]:
my_list

['apple', 'banana', 'mango', 'cherry', 'papaya']

In [17]:
#This will give the list in the reverse order as we can see here that it is started with the last item upto the beginning 
# with step size of 1
my_list[-1::-1]

['papaya', 'cherry', 'mango', 'banana', 'apple']

In [19]:
#started at the last but the step size is 2 and it goes up to the beginning
my_list[::-2]

['papaya', 'mango', 'apple']

In [22]:
my_list[-1:-4:-1]

['papaya', 'cherry', 'mango']

In [21]:
my_list

['apple', 'banana', 'mango', 'cherry', 'papaya']

In [31]:
my_list[-4:-1]

['banana', 'mango', 'cherry']

In [25]:
my_list

['apple', 'banana', 'mango', 'cherry', 'papaya']

In [33]:
my_list[-1:-4:-2]

['papaya', 'mango']

In [34]:
my_list

['apple', 'banana', 'mango', 'cherry', 'papaya']

In [35]:
my_list[-1::-1]

['papaya', 'cherry', 'mango', 'banana', 'apple']

#### Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [39]:
def sum_integers(values):
    result = 0
    for i in values:
        result += i
    return result

my_tuple = (1,2,3,4,5,6,7,8,9,10)
summation = sum_integers(my_tuple)

In [40]:
summation

55

#### Create a function that takes in a tuple of integers by the user and return the multiplication of the integers

In [43]:
user_input_tuple = input("Enter the tuple of your choice:")
fed_to_function = tuple(user_input_tuple.split(','))
def mul_integers(my_values):
    multiplication = 1
    for i in my_values: 
        multiplication *= int(i)
    return multiplication
mul_integers(fed_to_function)

Enter the tuple of your choice:1,2,3,4,5,6,7,8,9,10

3628800

#### Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

In [44]:
set1 = {'apple', 'mango','banana','cheery'}
set2 = {'papaya', 'orange', 'pineapple'}
set1.union(set2)

{'apple', 'banana', 'cheery', 'mango', 'orange', 'papaya', 'pineapple'}

In [45]:
set_union = set1.union(set2)

In [46]:
set_union

{'apple', 'banana', 'cheery', 'mango', 'orange', 'papaya', 'pineapple'}

#### Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [58]:
#This generates a random number between the range 1 and 10(inclusive)
import random
number = random.randint(1,10)

In [59]:
number

3

In [60]:
number

3

In [61]:
number

3

In [53]:
import random

# Generate a random integer between 1 and 10 (inclusive)
random_number = random.randint(1, 10)
print(random_number)

6

In [65]:
import random

# Generate and print 5 random integers between 1 and 100
for _ in range(100):
    random_number = random.randint(1, 100)
    print(random_number,end=',')

90,89,51,91,79,24,25,11,62,8,55,41,30,5,43,67,43,35,37,37,2,7,31,72,53,65,15,35,40,67,9,19,21,3,44,78,43,45,98,23,54,52,73,11,94,17,11,15,70,27,36,61,47,52,81,32,18,55,35,2,65,80,11,49,79,5,66,48,93,94,43,8,12,46,34,28,98,84,28,26,71,33,31,63,46,91,73,17,85,8,27,83,62,7,68,50,12,43,24,52,

#### Write a Python program to find the difference between consecutive numbers in a list.

In [ ]:
|