# Handling imbalanced dataset

In [1]:
import numpy as np
import pandas as pd


#set the random seed for reproducibility
np.random.seed(123)

#create a dataframe with two classes
n_samples = 500
class_0_ratio = 0.9

n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0, n_class_1

(450, 50)

In [4]:
##CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
'feature1': np.random.normal(loc=0, scale = 1, size = n_class_0),
'feature2': np.random.normal(loc=0, scale = 1, size= n_class_0),
'target': [0]*n_class_0
})

In [5]:
class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=2, scale = 1, size = n_class_1),
    'feature2': np.random.normal(loc=2, scale= 1, size = n_class_1),
    'target': [1]*n_class_1
})

In [8]:
#concatenating first and second dataframe
#reset_index(drop= True) ==>> this sets the index by default and removes the previous one
df = pd.concat([class_0,class_1]).reset_index(drop = True)

In [9]:
df

     feature1  feature2  target
0   -1.085631  0.129386       0
1    0.997345 -1.262544       0
2    0.282978 -1.402989       0
3   -1.506295 -0.637692       0
4   -0.578600 -0.326518       0
..        ...       ...     ...
495  2.829170  2.634763       1
496  1.224230  3.069919       1
497  3.178057  1.090673       1
498  2.101467  2.470264       1
499  1.578316  0.888570       1

[500 rows x 3 columns]

In [10]:
df.tail()

     feature1  feature2  target
495  2.829170  2.634763       1
496  1.224230  3.069919       1
497  3.178057  1.090673       1
498  2.101467  2.470264       1
499  1.578316  0.888570       1

In [11]:
df.head()

   feature1  feature2  target
0 -1.085631  0.129386       0
1  0.997345 -1.262544       0
2  0.282978 -1.402989       0
3 -1.506295 -0.637692       0
4 -0.578600 -0.326518       0

In [13]:
#value_counts()   ===>> This counts the unique values of the dataframe
df['target'].value_counts()

0    450
1     50
Name: target, dtype: int64

# Upsampling